{% extends "movies/base.html" %}
{% load static %}
{% block content %}
    {% for movie in m_list %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url "movie-detail" movie.id %}">{{ movie.title }}</a>
                    <small class="text-muted">{{ movie.release_date|date:"F d, Y" }}</small>
                </div>
                <img class="img-fluid" src="
                        {% if movie.picture %}{{ movie.picture.url }}{% else %}{% static "movies/1.jpg" %}{% endif %}">
            <span>Starring: </span>
                {% for item in  movie.movie_crew_list %}
                    <span>{{ item.crew.full_name }}</span>
                {% endfor %}
                <p>Avg Rate: {{ movie.rating_avg }} of {{ movie.rating_count }} votes</p>
                {#                {% for mc in mc_list %}#}
                {#                    <p class="article-content">{{ movie.crew_list }}</p>#}
                {#                {% endfor %}#}
            </div>
        </article>
    {% endfor %}
{% endblock content %}